$dashborad-panel-bg: rgb(0 34 51 / 50%);
$dashborad-panel-item-bg: linear-gradient(
  40deg,
  rgb(11 101 140 / 45.1%),
  rgb(0 34 48 / 33.5%)
);
$popup-font-color: linear-gradient(180deg, #e6f7ff 0%, #26a6dd 100%);
