* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "puhui";
}

#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: $bgColor;
  position: relative;
  // border: 1px solid #707070;
}
